extends layout

block content
  pre= h.dump(realm)
  h2
    a(href=`/realms/${realm.slug}`) #{realm.name}
  img(src=`/uploads/${realm.photo || 'realm.jpg'}`)
  
  .details #{realm.description}

  if realm.tags
    ul
      each tag in realm.tags
        a(href=`/tags/${tag}`) #{tag}