mixin realmCard(realm = {})
  li.realm
    a(href=`/realm/${realm.slug}`) #{realm.name} 
    - const processedDescription = realm.description.split(" ")
    span.realm__description --- #{processedDescription.slice(0, 15).join("")}#{processedDescription.length > 15 ? "..." : ""}
    span.realm__edit ---
    if user && realm.author.equals(user._id)
      a(href=`/realms/${realm._id}/edit`) Edit
      //- != h.icon('pencil') 
