mixin realmForm(realm = {})
  form(action=`/addRealm/${realm._id || ''}` method="POST" class="card")
    label(for="name") Name
    input(type="text" name="name" value=realm.name)
    label(for="description") Description
    textarea(name="description")= realm.description

    -const choices = ['Light', "Darkness", "Horses", "Ancient capital", "Numenorian", "People", "Orcs", "Elves", "Dwarves"]
    -const tags = realm.tags || []

    ul.tags
      each choice in choices
        .tag.tag__choice
          input(type="checkbox" id=choice value=choice name="tags" checked=(tags.includes(choice)))
          label(for=choice) #{choice}
    input(type="submit" value="Save ->" class="button")